h1 {
  font-width: bold;
  font-size: 50px;
  text-align: center;
  font-family: verdana;
}

#RonSwanson{
	max-width:900px;
}

#TextBubble
{
	background-color: transparent;
	position:absolute;
  	width:400px;
	top:100px;
  	left:15%;
}

body {
  background-color: lightgray;
}

div {
  text-align:center;
}

p {
  text-align: center;
  font-family: verdana;
}

#quote-holder {
  width: 300px;
  margin-right: auto; margin-left: auto;
  margin: auto;
  position: absolute;
  top: 150px;
  left: 18%; 
}

#get-quote {
  text-align:center;
  font-family: verdana;

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
