h1 {
  font-width: bold;
  font-size: 50px;
  text-align: center;
  font-family: verdana;
}

body {
	background-color: lightgray;
}


div {
  text-align:center;
}

p {
  text-align: center;
  font-family: verdana;
}

#quote {

}

