h1 {
  font-width: bold;
  font-size: 50px;
  text-align: center;
  font-family: verdana;
}

body {
  background-color: lightgray;
}


div {
  text-align:center;
}

p {
  text-align: center;
  font-family: verdana;
}

#quote {

}

#get-quote {
  text-align:center;
  font-family: verdana;

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
